Flask==3.0.3
flask-socketio==5.3.6
python-socketio==5.11.2
python-engineio==4.9.0

pandas==2.2.2
numpy==1.26.4

plotly==5.23.0

prophet==1.1.5

SQLAlchemy==2.0.31

gunicorn==22.0.0
eventlet==0.36.1

